@using System.Net
@using Portfolio.DataLayer.Models
@model global::Portfolio.DataLayer.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "";
}

@section Styles
{
    <link href="~/css/cssprogress.css" rel="stylesheet" />
    <style>
        #email-link {
            color: black;
        }
    </style>
}

<!-- home section starts  -->

<section class="home" id="home">

    <div id="particles-js"></div>

    <div class="content">
        <img class="tilt" src="~/images/Avatar.jpg" alt="">
        <h3>
            @Model.Personal.FirstName <span>@Model.Personal.LastName</span>
        </h3>
        <p> i'm a <span class="typing-text text-green"> .net developer </span> </p>
        <a href="#about" class="btn">درباره من</a>
    </div>

</section>

<!-- home section ends -->
<!-- about section starts  -->

<section class="about" id="about">

    <h1 class="heading"> درباره <span>من</span> </h1>

    <div class="row">

        <div class="image">
            <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_sSF6EG.json" background="transparent" speed="1" class="tilt" style="width: 300px; height: 300px; margin-left: auto; margin-right: auto;" loop autoplay></lottie-player>
        </div>

        <div class="content">
            <h3> من <span> @(Model.Personal.FirstName + " " + Model.Personal.LastName) </span> هستم </h3>
            <p class="info">
                توسعه دهنده Full Stack وب هستم.
                <br />
                علاقه مند به ساختن برنامه‌ های کاربردی تحت وب، ویندوز و ربات بوده و اکثر مطالعاتم در این حوزه می باشد.
                <br />
                متولد 1383 و ساکن استان خوزستان هستم ؛ فعالیتم در حوزه برنامه نویسی و آی تی رو از سال 1397 با برخی از تکنولوژی ها شروع کردم و از سال 1399 بصورت جدی وارد این دنیای بی انتها شدم.
                <br />
                سال هاست تمرکز خودم رو روی تکنولوژی های NET. گذاشتم و تقریبا روی تمام تکنولوژی های مایکروسافت تسلط کافی دارم.
                <br />
                من به زبان برنامه نویسی سی شارپ مسلطم و معمولا برای وب، تکنولوژی این زبان یعنی Asp.Net Core رو کار می کنم. همچنین برای اپلیکیشن های تحت دسکتاپ و ویندوز هم از تکنولوژی های WinForms و WPF استفاده می کنم.
                <br />
                تخصص من در زمینه برنامه نویسی هست اما در شاخه های امنیت، شبکه، پشتیبانی، گرافیک و فتوشاپ هم مهارت دارم.
                برنامه نویسی برای ربات های اینستاگرام و تلگرام هم جز علایق من بوده که در این زمینه هم فعالیت می کنم.
                <br />
                در حال حاظر محصل رشته شبکه و نرم افزار هستم.

            </p>


            <div class="box-container">
                <div class="box">
                    <p>
                        <span> سن: </span> @Model.Personal.Age
                    </p>
                    <p>
                        <span> آدرس : </span> @Model.Personal.Address
                    </p>
                </div>
                <div class="box">
                    <p>
                        <span> تلفن : </span> @Model.Personal.Mobile
                    </p>
                    <p>
                        <span> ایمیل : </span> <a id="email-link" href="mailto:@Model.Personal.Email">mrmoori.dev</a>
                    </p>
                </div>
            </div>


            <a href="~/MyResume/MrAmoori-Portfolio.pdf" class="btn">دانلود رزومه</a>
        </div>

    </div>

</section>

<section style="min-height: 0;" class="services" id="services">

    <h1 class="heading">
        <span>راه ارتباطی</span>
        من
    </h1>


    <div class="box-container">
        <div class="box">


            <a href="https://www.instagram.com/@Model.Personal.Instagram">
                <img src="~/Icons/instagram.gif" width="60px" />
            </a>

            <span>&emsp;&emsp;</span>


            <a href="https://twitter.com/@Model.Personal.Twitter">
                <img src="~/Icons/twitter.gif" width="60px" />
            </a>

            <span>&emsp;&emsp;</span>
            
            <a href="https://github.com/@Model.Personal.Github">
                <img src="~/Icons/github.gif" width="60px" />
            </a>

            <span>&emsp;&emsp;</span>
            
            <a href="https://www.linkedin.com/in/@Model.Personal.Linkedin">
                <img src="~/Icons/linkedin.gif" width="60px" />
            </a>

            <span>&emsp;&emsp;</span>

            <a href="https://t.me/@Model.Personal.Telegram">
                <img src="~/Icons/telegram.gif" width="60px" />
            </a>

        </div>
    </div>
</section>

<!-- about section ends -->
<!-- services section starts  -->

<section class="services" id="services">

    <h1 class="heading">
        <span>مهارت</span>
        من
    </h1>

    <div class="box-container">

        @foreach (var item in Model.Skills)
        {
            <div class="cssProgress">
                <p style="font-size: 20px">@item.Name</p>
                <div class="progress3">
                    <div class="cssProgress-bar cssProgress-success cssProgress-active-right cssProgress-right" data-percent="@item.Percentage" style="width: @(item.Percentage + "%")">
                        <span class="cssProgress-label">@(item.Percentage)%</span>
                    </div>
                </div>
            </div>
        }

    </div>


    <h1 class="heading"> <span> خدمات </span> من </h1>

    <div class="box-container">

        @foreach (var item in Model.Service)
        {
            <div class="box tilt">
                <i class="@item.ClassIcon"></i>
                <h3>@item.Name</h3>
                <p>@item.Decription </p>
            </div>
        }

    </div>

</section>

<!-- services section ends -->
<!-- Portfolio section starts  -->

<section class="portfolio" id="portfolio">

    <h1 class="heading"> <span> نمونه </span> کارها </h1>

    <div class="box-container">

        @foreach (var item in Model.Portfolios)
        {
            <div class="box tilt">
                <img src="~/images/portfolio/@(item.Id).jpg" alt="@item.Title">
                <div class="content">
                    <a href="@item.Link" class="btn">دیدن پروژه</a>
                </div>
            </div>
        }

    </div>

</section>

<!-- Portfolio section ends -->
<!-- blogs section starts  -->

<section class="blogs" id="blogs">

    <h1 class="heading"> <span> وبلاگ </span> من </h1>

    <div class="box-container">

        @foreach (var item in Model.Blogs)
        {
            <div class="box tilt">
                <img src="@item.ImagePath" alt="@item.Title">
                <h3> @item.Title </h3>
                <p> @item.Description </p>
                <p style="direction: ltr">@item.CreateDate.ToString("yyyy/MM/dd")</p>
                <a href="@item.Link" class="btn">خواندن</a>
            </div>
        }

    </div>

</section>

<!-- blogs section ends -->
<!-- contact section starts  -->

<section class="contact" id="contact">

    <h1 class="heading"> تماس با <span> من </span> </h1>

    <div class="row">

        <div class="image">
            <img class="tilt" src="~/images/contact-img.svg" alt="">
        </div>

        <form asp-action="MessageToMe" asp-controller="Home" method="post">

            <div class="inputBox">
                <input asp-for="Contact.Name" type="text" placeholder="نام">
                <span asp-validation-for="Contact.Name"></span>
                <input asp-for="Contact.Email" type="email" placeholder="ایمیل">
                <span asp-validation-for="Contact.Email"></span>
            </div>

            <input asp-for="Contact.Title" type="text" placeholder="عنوان" class="box">
            <span asp-validation-for="Contact.Title"></span>

            <textarea asp-for="Contact.Message" placeholder="متن پیام" id="" cols="30" rows="10"></textarea>
            <span asp-validation-for="Contact.Message"></span>

            <input type="submit" class="btn" value="ارسال پیام">

        </form>

    </div>

</section>


<!-- contact section ends -->


@section Scripts
{

    <script>
        var typed = new Typed('.typing-text',
            {
                strings: [
                    '.NET Developer', '.NET Developer', 'Full Stack Developer', 'Web Designer', 'Software Engineer'
                ],
                loop: true,
                typeSpeed: 150
            });

        VanillaTilt.init(document.querySelectorAll('.tilt'),
            {
                max: 25
            });
    </script>

    <script src="https://unpkg.com/@("@lottiefiles")/lottie-player@latest/dist/lottie-player.js"></script>

}